{% extends 'websocketspy/index.html' %}

{% block content %}

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .container {
        width: 100%;
    }

    .head-link {
        color: white;
        font-size: 1rem;
        margin-left: 10px;
    }

    .login-btns {
        padding: 5px 35px;
        background-color: #EBF774;
        font-weight: 600;
        text-transform: uppercase;
    }

    #logo {
        margin-left: 15px;
        color: #EBF774;
    }

    .main-body {
        background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url('../../../static/images/bg2.jpg');
        /* opacity: 0.5; */
        background-size: 100% 100vh;
        /* width: 100%; */
        height: 100vh;
    }
    .cont-btn{
        background-color: #2A0944;
        color: white;
    }
    #auth{
        color: #2A0944;;
        font-weight: 600;
    }

</style>
{% load static %}

<div class="main-body">


    <div class="px-4 py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../../../static/images/logo.PNG" alt="" width="122" height="87">
        <h1 class="display-5 fw-bold">Mark Your Attendance</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">"80% of success is showing up" - <span id="auth">Woody Allen</span></p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'mark-attendance-index' %}" class="btn cont-btn btn-lg px-4 gap-3">In Attedance</a>
                <a href="{% url 'mark-Out-attendance' %}" class="btn cont-btn btn-lg px-4">Out Attendance</a>
            </div>
        </div>
    </div>

</div>
{% endblock content %}