<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encod Images</title>
</head>
<body>
    
    <form action="" method="post" enctype='multipart/form-data'>
        {% csrf_token %}

        <!-- name: <input type="text" id="name" name="name" />
        img : <input type="file" name="img" /> -->

        {{form}}

        <input type="submit" value="submit" />
    </form>


    <!-- {% for i in encoded_faces %} -->
        <!-- <img src="{{i.img.url}}" style="height: 100px; width: 150px;" alt="hello"> -->
    <!-- {% endfor %} -->

</body>
</html>